BODY {
	BACKGROUND-IMAGE: url(../images/backgrd.gif)
}
.style2 {
	FONT-WEIGHT: bold
}
.style1 {
	FONT-SIZE: 9px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mrpl {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; LINE-HEIGHT: 17px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boldsmall {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodytext-main {
	FONT-SIZE: 12px; MARGIN: 0px 3px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.bodytext-search {
	PADDING-RIGHT: 12px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 3px; COLOR: #000066; PADDING-TOP: 0px; FONT-STYLE: normal; TEXT-ALIGN: justify
}
.bodytext-main-bold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN: 0px 1px 10px 3px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.smallstreached {
	FONT-WEIGHT: normal; FONT-SIZE: xx-small; LINE-HEIGHT: 20px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.smallreverse {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mainhead {
	FONT: bold medium Verdana, Arial, Helvetica, sans-serif; COLOR: #000000
}
.mainheadred {
	FONT: bold medium Verdana, Arial, Helvetica, sans-serif; COLOR: #990000
}
.mainheadtitle {
	PADDING-RIGHT: 4px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; FONT: bold medium Verdana, Arial, Helvetica, sans-serif; COLOR: #365277; PADDING-TOP: 0px
}
.hyperlinkred {
	FONT: bold xx-small Verdana, Arial, Helvetica, sans-serif; COLOR: #990000; TEXT-DECORATION: underline
}
.mainheadmaroon {
	FONT: 900 12px Verdana, Arial, Helvetica, sans-serif; COLOR: #592202
}
.headmaroon {
	FONT: 900 14px Verdana, Arial, Helvetica, sans-serif; COLOR: #592202
}
.mainheadblue1 {
	FONT: 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #cc3300
}
.mainheadblue11 {
	FONT: bold 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #cc3300
}
.mainheadblue2 {
	FONT: bold 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #000066
}
.hyperlinkblue {
	FONT: bold xx-small Verdana, Arial, Helvetica, sans-serif; COLOR: #000066; TEXT-DECORATION: underline
}
.hyperlinkbluewhite {
	FONT: bold xx-small Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff
}
.mrplwhite {
	FONT-WEIGHT: normal; FONT-SIZE: xx-small; COLOR: #ffffff; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.redstyle {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #cc0000; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bluestyle {
	FONT-WEIGHT: bolder; FONT-SIZE: xx-small; COLOR: #185aa3; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.header_table {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #185aa3; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.redstyleBig {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #cc0000; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.styleorange {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #ff3300; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.orangenew {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #cc3300; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.violetnew {
	FONT-WEIGHT: bold; FONT-SIZE: xx-small; COLOR: #663399; FONT-STYLE: italic; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bluestylebold {
	FONT-WEIGHT: bolder; FONT-SIZE: xx-small; COLOR: #185aa3; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.mrplbig {
	FONT-WEIGHT: normal; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.mrplbigbold {
	FONT-WEIGHT: bold; FONT-SIZE: x-small; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.styleBrown {
	FONT-WEIGHT: bold; FONT-SIZE: small; COLOR: #282409; FONT-STYLE: italic; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.bullets {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; TEXT-TRANSFORM: none; WIDTH: auto; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: auto
}
.bodytextlink {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #163b91
}
.bodytextlink:link {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #163b91
}
.bodytextlink:unknown {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #163b91
}
.bodytextlink1 {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #163b91; TEXT-DECORATION: none
}
.bodytextlink1:link {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #163b91; TEXT-DECORATION: none
}
.bodytextlink1:hover {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #ff3333; TEXT-DECORATION: underline
}
.bodytextlink1:unknown {
	FONT: bold 11px Verdana, Arial, Helvetica, sans-serif; COLOR: #163b91; TEXT-DECORATION: none
}
.botmenulink {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff
}
.botmenulink:link {
	FONT: bold 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none
}
.botmenulink:hover {
	FONT: bold 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #ff6633; TEXT-DECORATION: underline
}
.botmenulink:unknown {
	FONT: 10px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff
}
.textbox1 {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; WIDTH: 150px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 11px; font-stretch: expanded
}
.textbox2 {
	FONT-WEIGHT: 600; FONT-SIZE: 11px; WIDTH: 150px; COLOR: #000066; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 19px; font-stretch: expanded
}
.bodytext-mainblue {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #254166; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.input {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 0px; FONT-SIZE: 11px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #000066; PADDING-TOP: 0px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
.textarea {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #000066; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 36px
}
.button {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #000; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.select {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; MARGIN: 0px; BORDER-LEFT: #999999 1px solid; COLOR: #000066; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px
}
.multipleselect {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid
}
.input-index {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; FONT-SIZE: 11px; MARGIN: 0px 0px 0px 1px; BORDER-LEFT: #999999 1px solid; COLOR: #000066; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; HEIGHT: 18px; TEXT-ALIGN: justify
}
.bordermiddletd {
	BORDER-RIGHT: #666666 0.1em dashed; BORDER-BOTTOM: #666666 0.1em dashed
}
.borderendtd {
	BORDER-BOTTOM: #666666 0.1em dashed
}
.tdtext {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.home_subtitle {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.frontend-lefttd {
	BORDER-RIGHT: #768aa2 solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; BORDER-LEFT: #fab766 thin solid; PADDING-TOP: 0px
}
.frontend-righttd {
	BORDER-RIGHT: #fab766 thin solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.frontend-fullborder {
	BORDER-RIGHT: #fab766 thin solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #fab766 thin solid; PADDING-TOP: 5px
}
.pagination {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; FONT-WEIGHT: 600; FONT-SIZE: 9px; PADDING-BOTTOM: 0px; COLOR: #993300; PADDING-TOP: 0px; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; TEXT-DECORATION: none
}
.pagination:link {
	FONT-SIZE: 9px; COLOR: #003399; TEXT-DECORATION: none
}
.pagination:hover {
	FONT-SIZE: 9px; COLOR: #ff3300; TEXT-DECORATION: underline
}
.pagination:active {
	FONT-SIZE: 9px; COLOR: #660000; TEXT-DECORATION: none
}
.pagination:visited {
	FONT-SIZE: 9px; COLOR: #000099; TEXT-DECORATION: none
}
.list {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 2px 0px 0px 5px; PADDING-TOP: 0px
}
.list LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LIST-STYLE-IMAGE: url(../images/bullet.gif); PADDING-BOTTOM: 0px; MARGIN: 4px 0px 0px 60px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.list LI A {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(../images/bullet.gif); COLOR: #006699; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
.list LI A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(../images/bullet.gif); COLOR: #006699; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
.list LI A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(../images/bullet.gif); COLOR: #ff0000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none; TEXT-DECORATION: underline
}
.list LI A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; LIST-STYLE-IMAGE: url(../images/bullet.gif); COLOR: #006699; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: none; TEXT-DECORATION: none
}
H6 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 20px; COLOR: #606060; PADDING-TOP: 0px; FONT-FAMILY: "Century Gothic", "Lucida Sans Unicode", "Trebuchet MS", "Helvetica", "Arial", sans-serif; h6: 10px
}
